@mixin text-style($color, $font-size, $font-family){
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
}

.text{
    h1{
        @include text-style(#245789, 44px, arial)
    }

    p{
        @include text-style(#a45879, 22px, sans-serif)
    }

}