$btn-color: #ff4043;
$widthh-btn: 250px;

.btn1{
    width: 100px;
    background-color: $btn-color;
    width: $widthh-btn;
}

.btn2{
    width: 100px;
    background-color: $btn-color;
    width: $widthh-btn;
}